@page "/Albums/{AlbumId}/Edit"
@model TimelineSITE.Areas.Albums.Pages.EditAlbumModel
@{
    ViewData["Title"] = "Edit Album";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="@Model.Album.Id" />
            <div class="form-floating">
                <input asp-for="@Model.Album.Name" class="form-control" />
                <label asp-for="@Model.Album.Name" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.Album.DateStart" class="form-control" />
                <label asp-for="@Model.Album.DateStart" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.Album.DateEnd" class="form-control" />
                <label asp-for="@Model.Album.DateEnd" class="form-label"></label>
            </div>
            <div class="row pt-2">
                <div class="col pe-1">
                    <button type="submit" class="w-100 btn btn-danger">Confirm</button>
                </div>
                <div class="col ps-1">
                    <a class="btn btn-primary w-100" asp-area="Albums" asp-page="/PhotoAlbum" asp-route-AlbumId="@Model.Album.Id">Cancel</a>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>