@page
@model TimelineSITE.Areas.Albums.Pages.IndexModel
@{
    ViewData["Title"] = "Albums";
}
<div class="row justify-content-between align-items-center">
    <h2 class="col-auto mr-auto">@ViewData["Title"]</h2>
    <div class="col-auto content"><a class="btn btn-primary" asp-area="Albums" asp-page="/CreateAlbum">Create Album</a></div>
</div>
<hr />

<div class="album-gallery">
    @foreach (var albumAccess in Model.AlbumsAccessList)
    {
        <div class="album-box">
            <a class="btn btn-primary" asp-area="Albums" asp-page="/PhotoAlbum" asp-route-AlbumId="@albumAccess.Album.Id">
                <div class="album-content">
                    <p class="journey-date">
                        @if (albumAccess.Album.DateStart != null)
                        {
                            @albumAccess.Album.DateStart.Value.ToString("dd.MM.yyyy");
                        }
                        @if (albumAccess.Album.DateStart != null && albumAccess.Album.DateEnd != null)
                        {
                            @Html.Raw(" - ")
                        }
                        @if (albumAccess.Album.DateEnd != null)
                        {
                            @albumAccess.Album.DateEnd.Value.ToString("dd.MM.yyyy");
                        }
                    </p>
                    <div class="folder-icon">
                        @if (albumAccess.AccessLevel == TimelineSITE.Models.AccessLevels.Owner)
                        {
                            <span class="bi bi-folder-fill" style="font-size: 50px;"></span>
                        }
                        @if (albumAccess.AccessLevel == TimelineSITE.Models.AccessLevels.Guest)
                        {
                            <span class="bi bi-folder" style="font-size: 50px;"></span>
                        }
                        @if (albumAccess.AccessLevel == TimelineSITE.Models.AccessLevels.ViewOnly)
                        {
                            <span class="bi bi-folder-symlink" style="font-size: 50px;"></span>
                        }
                    </div>
                    <div class="album-text w-100">
                    <h5 >@albumAccess.Album.Name</h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

